---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';

export interface Props {
  post: {
    id: string;
    data: {
      title: string;
      pubDate: Date;
      description?: string;
      image?: any;
      videoEmbed?: string;
    };
  };
}

function getVideoEmbedUrl(url: string): string {
  if (url.includes('player.bilibili.com')) {
    return url;
  }
  const bvMatch = url.match(/bilibili\.com\/video\/(BV\w+)/);
  if (bvMatch) {
    return `https://player.bilibili.com/player.html?bvid=${bvMatch[1]}`;
  }
  const avMatch = url.match(/bilibili\.com\/video\/av(\d+)/);
  if (avMatch) {
    return `https://player.bilibili.com/player.html?aid=${avMatch[1]}`;
  }
  return url;
}

const { post } = Astro.props;
const base = import.meta.env.BASE_URL.replace(/\/+$/, '') + '/';
const postUrl = `${base}posts/${post.id}/`.replace(/\/+/g, '/');
const videoEmbedUrl = post.data.videoEmbed ? getVideoEmbedUrl(post.data.videoEmbed) : undefined;
---

<div class='article col col-4 col-d-6 col-t-12'>
  <div class='article__inner'>
    <div class='article__head'>
      <div class='article__date'>
        <FormattedDate date={post.data.pubDate} />
      </div>

      {
        videoEmbedUrl && (
          <div class='article__video-wrap'>
            <iframe
              src={videoEmbedUrl}
              loading='lazy'
              width='320'
              height='180'
              frameborder='0'
              allowfullscreen
              sandbox='allow-scripts allow-same-origin allow-popups allow-storage-access-by-user-activation'
            />
            <a class='article__video-link' href={postUrl}>
              <div class='video-icon'>
                <div class='circle pulse' />
                <div class='circle'>
                  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
                    <polygon points='40,30 65,50 40,70' />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        )
      }

      {
        !videoEmbedUrl && post.data.image && (
          <a class='article__image' href={postUrl}>
            <Image
              src={post.data.image}
              alt={post.data.title}
              loading='lazy'
              decoding='async'
            />
          </a>
        ) }
    </div>

    <div class='article__content'>
      <h2 class='article__title'>
        <a href={postUrl}>{post.data.title}</a>
      </h2>

      {
        post.data.description && (
          <p class='article__excerpt'>{post.data.description}</p>
        )
      }
    </div>
  </div>
</div>
