---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';

export interface Props {
  post: {
    id: string;
    data: {
      title: string;
      pubDate: Date;
      description?: string;
      image?: any;
      videoEmbed?: string;
    };
  };
}

const { post } = Astro.props;
const base = import.meta.env.BASE_URL.replace(/\/+$/, '') + '/';
const postUrl = `${base}posts/${post.id}/`.replace(/\/+/g, '/');
---

<div class='article col col-4 col-d-6 col-t-12'>
  <div class='article__inner'>
    <div class='article__head'>
      <div class='article__date'>
        <FormattedDate date={post.data.pubDate} />
      </div>

      {
        post.data.videoEmbed && (
          <div class='video-icon'>
            <div class='circle pulse' />
            <div class='circle'>
              <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
                <polygon points='40,30 65,50 40,70' />
              </svg>
            </div>
          </div>
        )
      }

      {
        post.data.image && (
          <a class='article__image' href={postUrl}>
            <Image
              src={post.data.image}
              alt={post.data.title}
              loading='lazy'
              decoding='async'
            />
          </a>
        )
      }
    </div>

    <div class='article__content'>
      <h2 class='article__title'>
        <a href={postUrl}>{post.data.title}</a>
      </h2>

      {
        post.data.description && (
          <p class='article__excerpt'>{post.data.description}</p>
        )
      }
    </div>
  </div>
</div>
