---
import { ClientRouter } from 'astro:transitions';
import { Font } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { settings } from '../data/settings';
import '../styles/main.scss';

const { title, description, image, canonicalURL } = Astro.props;
---

<!doctype html>
<html lang={settings.site.language}>
  <head>
    <BaseHead {title} {description} {image} {canonicalURL} />
    <ClientRouter />
    <Font cssVariable='--font-jost' preload />
  </head>

  <body>
    <Header />
    <main class='content'>
      <slot />
    </main>
    <Footer />

    <script>
      import '../scripts/common.ts';
    </script>
  </body>
</html>
